/* Services */

.block-a {
    text-align: center;
    background: #e21d39;

    .section-heading .section-letter {
        left: calc(50% - 74px);
        color: #d31a35;
    }

    .section-heading .section-title {
        color: #fff;
    }

    .service-title {
        font-family: 'fira_sans_otbold';
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    p {
        color: #fff;
    }
}


/* Start Small 
*  Get Out Box */

.block-c h3 {
    font-family: 'fira_sans_otmedium';
    font-size: 36px;
    margin-bottom: 22px;
}

.start-small,
.get-out-box {
    width: 100%;

    .content {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
/* Start Small */
.start-small {
    .content {
        /*padding: 80px 60px 124px 70px;*/
        
        padding-right: 60px;
        padding-left: 20px;
        color: #fff;

        @media screen and (min-width: 1024px) {
            padding-left: 5%;
        }
    }

    @media screen and (min-width: 768px) {
        .image-box {
            background: url('../../assets/images/sbd/start-small.jpg') no-repeat;
            background-size: cover;

            figure {
                display: none;
            }
        }
    }
}


/* Get Out the Box */

.get-out-box {
    .content {
        /*padding: 80px 60px 124px 70px;*/
        
        padding-left: 60px;
        padding-right: 20px;
        color: #000;
        text-align: right;

        @media screen and (min-width: 1024px) {
            padding-right: 5%;
        }
    }

    @media screen and (min-width: 768px) {
        .image-box {
            background: url('../../assets/images/sbd/get-out-box.jpg') no-repeat;
            background-size: cover;

            figure {
                display: none;
            }
        }

        .content {
            text-align: left;
        }
    }
}


/* Work We've Done */

.block-d {
    .section-heading .section-letter {
        left: calc(50% - 52.5px);
    }

    .projects {
        list-style: none;
        padding: 0;
        margin: 0;

        .project-item {
            position: relative;

            @media screen and (min-width: 768px) {
                float: left;
                width: 50%;
            }

            @media screen and (min-width: 992px) {
                float: left;
                width: 33.33333%;
            }

            .project-teaser {
                .project-teaser-image {
                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                .project-teaser-caption {
                    display: none;
                    text-align: center;

                    .project-title {
                        font-family: 'fira_sans_otmedium';
                        font-size: 2.2em;
                        line-height: 1.2;
                    }

                    .project-type {
                        font-family: 'fira_sans_otregular';
                        font-size: 1.8em;
                    }
                }

                &:hover .project-teaser-caption {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(140, 140, 140);
                    color: #fff;
                    box-shadow: inset 0 0 0 10px hsl(0, 0%, 55%), inset 0 0 0 15px hsl(0, 0%, 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 25px;
                }
            }
        }
    }
}
/* Contact Form */
.block-e {
    .section-heading .section-letter {
        left: calc(50% - 30px);
    }

    .left {
        text-align: right;
    }

    .right {
        text-align: left;
    }

    .btn-right {
        float: right;
    }

    .info-box {
        margin-bottom: 25px;
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
        }

        h4 {
            font-family: 'fira_sans_otbold';
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #292929;
            font-size: 1.4em;
        }

        a {
            color: #747474;
            font-size: 1.1em;
        }
    }
}
